# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
# vendor/ 目录纳入版本控制，构建时使用 -mod=vendor

.idea
m3u8
m3u8-*
/test
*.exe
*.ts
*.mp4
docs
.DS_Store